@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 0;
}

.main-header {
  margin-top: 1.9rem;
  display: flex;
  justify-content: center;
}

.header-distribution {
  width: 70vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-image img {
  width: 15vw;
  height: auto;
  border-radius: 8rem;
  animation: transitionLeft 1s;
}

.description {
  text-align: center;
  animation: transitionRight 1s;
}

article {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.description h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5rem;
}

.description article p {
  width: 30vw;
  margin: 0 0;
  font-family: 'Great Vibes', cursive;
  font-size: 1.5rem;
}

.social-networks {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: transitionButton 1s;
}

.logo {
  text-align: center;
  font-size: 3rem;
}

.main-description {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #70ccd8;
}

.my-description {
  width: 49vw;
  height: 15vh;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  border: 1px solid #70ccd8;
  border-radius: 34px;
  padding: 0 45px 0 45px;
  background-color: #fff;
}

.portfolio {
  text-align: center;
}

.portfolio a {
  color: #005d00;
}

.active {
  animation: transitionPortfolio 1s;
}

h1 a {
  font-size: 5rem;
  text-transform: uppercase;
  text-decoration: none;
  width: 100vw;
  font-family: 'Titan One', cursive;
  letter-spacing: 6rem;
}

.technologies {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.technology {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.technology i {
  font-size: 10rem;
  color: mediumpurple;
}

.work {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.work h2 {
  text-align: center;
  font-family: 'Rozha One', serif;
  font-size: 4rem;
  color: #424242;
}

.work-experience {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(110, 0, 0, 0.555);
  border-radius: 100px;
}

.crazystream-logo img {
  width: 10vw;
  height: 15vh;
  transition: all 1s ease;
  border-radius: 80px;
}

.crazystream-logo img:hover {
  transform: scale(1.5);
}

.job-description h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
}

.job-description p {
  font-family: 'Nanum Gothic', sans-serif;
}

.about-job {
  width: 40%;
}

@keyframes transitionLeft {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes transitionRight {
  from {
    transform: translateX(200vw);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes transitionButton {
  from {
    transform: translateY(100vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes transitionPortfolio {
  from {
    transform: translateX(-100vh);
  }
  
  to {
    transform: translateX(0);
  }
}

@media (min-width: 320px) and (max-width: 780px) {
  .header-distribution {
    flex-direction: column;
  }

  .my-image img {
    width: 30vw;
  }

  .description h2 {
    font-size: 1.8rem;
  }

  .logo {
    font-size: 2rem;
  }

  h1 a {
    font-size: 2rem;
    letter-spacing: 1rem;
  }

  .description article p {
    width: 100%;
    font-size: 1.4rem;
  }

  .my-description {
    width: 70vw;
    height: 40vh;
    font-size: 1.4rem;
  }

  .technology i {
    font-size: 5rem;
  }

  .work h2 {
    font-size: 2.4rem;
  }

  .work-experience {
    width: 80vw;
    height: 60vh;
    flex-direction: column;
  }

  .job-description {
    text-align: center;
    align-items: center;
  }

  .job-description h3 {
    font-size: 1.4rem;
  }

  .job-description p {
    font-size: .9rem;
    width: 80%;
  }

  .about-job {
    width: 100%;
  }

  .crazystream-logo img {
    margin-top: 10px;
    width: 40vw;
    height: 20vh;
  }

}

@media (min-width: 781px) and (max-width: 1200px) {
  .main-header {
    margin-top: 5rem;
  }

  .header-distribution {
    flex-direction: column;
  }

  .description article {
    width: 60vw;
    text-align: center;
  }

  .my-image img {
    width: 30vw;
  }

  .description article p {
    width: 100%;
  }

  .my-description {
    width: 70vw;
    height: 30vh;
    font-size: 1.8rem;
  }

  h1 a {
    font-size: 5rem;
    letter-spacing: 1rem;
  }

  .work-experience {
    width: 80vw;
    height: 30vh;
  }

  .crazystream-logo img {
    margin-top: 10px;
    width: 20vw;
    height: 14vh;
  }

  .job-description h3 {
    font-size: 1.8rem;
  }

  .job-description p {
    font-size: 1.2rem;
    width: 100%;
  }

}
