@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  margin:0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
    rgb(255 255 255 / 68%), 
    rgb(255 255 255 / 70%)
    ), url(./images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
  height: 50vh;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
}

h1, p {
  color: #80421b;
}

p {
  font-family: 'Kaushan Script', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.custom-anchor {
  color: #80421b;
  border: 2px solid #80421b;;
}

.custom-button {
  width: auto;
  background-color: #fff;
  color: #000;
}

@media (min-width: 320px) and (max-width: 768px) {
  h1 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.5rem;
  }

  .custom-button {
    width: 1.4em;
    height: 1.4em;
    background-color: #ffffff8f;
    color: #000;
    justify-content: center;
    align-items: center;
  }

  .fa-2x {
    font-size: 1em;
  }

}
