@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100&display=swap');


.section:nth-child(1) {
  position: relative;
}

.content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.transition-down {
  animation: transitionDown 3s;
}

.transition-up {
  animation: transitionUp 10s;
}

@keyframes transitionDown {
  from {
    transform: translateY(-1000%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes transitionUp {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-1000%);
  }
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1, h2 {
  display: inline;
  font-family: 'Lexend Peta', sans-serif;
  font-size: 4rem;
  font-weight: 500;
  color: #C89175;
  padding: 100px 0;
  animation: textOpacity 5s;
  animation-delay: 3s;
}

.set-visibility {
  visibility: hidden;
}

@keyframes textOpacity {
  0% {
    opacity: -1;
  }

  100% {
    opacity: 1;
  }
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}

h4,
p {
  font-family: 'Nanum Gothic', sans-serif;
}

h4 {
  font-size: 1.8rem;
}

.img-text .black-image {
  color: #fff;
}

p {
  font-size: 1.2rem;
}

.img-wrap * {
  box-sizing: border-box;
}

.img-wrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.img-wrap .img-description{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.808);
  color: rgb(80, 77, 77);
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.img-wrap .img-text {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}
