@import url(
  'https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap'
);
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.header-background {
  background-image: url('./images/coffeeandlandscape/coffee-plant.jpeg');
  height: 100vh;
}

.header-mask {
  background-color: rgba(24, 82, 36, 0.404);
}

.custom-navbar {
  width: 100%;
  justify-content: space-evenly;
}

.custom-ul {
  width: 60%;
  padding-left: unset;
  justify-content: space-evenly;
}

.custom-navbar-toggler {
  color: #791503;
}

.nav-item a {
  color: #791503;
  text-transform: uppercase;
  font-weight: 800;
}

h1, h4 {
  color: #ffffff;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 900;
}

.custom-welcome {
  height: 50vh;
}

main {
  margin-top: 20px;
}

h2 {
  color: #791503;
  font-family: 'Cormorant Garamond', serif;
}

p {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 800;
  color: #000000;
}

.custom-state {
  margin: 20px;
  text-align: justify;
  text-justify: inter-word;
}

.custom-image {
  height: 200px;
}

.custom-image img {
  border-radius: 20px;
  box-shadow: 8px 5px 5px #7915031c;
  overflow: hidden;
}

.custom-background {
  background-image: url('./images/coffeeandlandscape/buenavista-quindio-san-alberto.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.custom-footer {
  background-color: #f1f1f1;
}

.custom-footer a, .custom-footer-two p {
  color: #ffffff;
}

.custom-footer-two {
  background-color: rgba(0, 0, 0, 0.2);
}

.custom-button {
  width: auto;
  background-color: #fff;
  color: #000;
}

@media (min-width: 320px) and (max-width: 768px) {
  .custom-button {
    width: 1.4em;
    height: 1.4em;
    background-color: #ffffff8f;
    color: #000;
    justify-content: center;
    align-items: center;
  }

  .fa-2x {
    font-size: 1em;
  }

}
